/**
 * General Layout
 */

@media screen and (min-width: 768px) {
  .site-header {
    .site-branding,
    .site-logo-anchor,
    .site-logo-link {
      display: block;
      @include span(3 of 12);

      img {
        height: auto;
        max-width: 100%;
        max-height: none;
      }
    }
  }

  .woocommerce-active {
    .site-header {
      .secondary-navigation {
        @include span(last 3 of 12);
      }

      .site-search {
        @include span(last 3 of 12);
        clear: none;
      }

      .main-navigation {
        @include span(5 of 12);
      }

      .site-header-cart {
        @include span(last 4 of 12);
        margin-bottom: 0;
      }
    }
  }

  .site-branding {
    .site-description {
      margin-bottom: 0;
      display: block;
    }
  }

  .site-search,
  .site-header-cart,
  .site-logo-anchor {
    margin-bottom: 1em;
  }

  .site-header {
    .subscribe-and-connect-connect {
      float: right;
      margin-bottom: 1em;

      .icons {
        list-style: none;
        margin: 0;

        a {
          font-size: 1em !important;
        }

        li {
          margin: 0 0 0 .53em !important;
          display: inline-block;
        }
      }
    }
  }

  .col-full {
    @include clearfix;
    // @include container(65.141em);
    @include container($maxwidth);
  }

  .site-content {
    @include clearfix;
  }

  .content-area {
    @include span(9 of 12);
  }

  .widget-area {
    @include span(last 3 of 12);
  }

  .right-sidebar {
    .content-area {
      @include span(9 of 12);
    }

    .widget-area {
      @include span(last 3 of 12);
    }
  }

  .left-sidebar {
    .content-area {
      @include span(last 9 of 12);
    }

    .widget-area {
      @include span(3 of 12);
    }
  }

  .storefront-full-width-content {
    .content-area {
      @include span(full);
    }
  }

  .content-area,
  .widget-area {
    margin-bottom: 2.618em;
  }

  /**
   * Full width & homepage template
   */
  .page-template-template-fullwidth-php,
  .page-template-template-homepage-php {
    .content-area {
      @include span(full);
    }
  }

  .details {
    .col-8 {
      @include span(8 of 12);
    }

    .col-4 {
      @include span(4 of 12);
      &:last-child {
        @include span(last 4 of 12);
      }
    }
  }

  /**
   * Footer widgets
   */
  .footer-widgets {
    @include clearfix;
    padding-top: 4.236em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);

    &.col-2 {
      .block {
        @include span(6 of 12);

        &.footer-widget-2 {
          @include last;
        }
      }
    }

    &.col-3 {
      .block {
        @include span(4 of 12);

        &.footer-widget-3 {
          @include last;
        }
      }
    }

    &.col-4 {
      .block {
        @include span(3 of 12);

        &.footer-widget-4 {
          @include last;
        }
      }
    }
  }

  .site-info {
    @include clearfix;
  }
}

// @media screen and (max-width: 65.141em) {
@media screen and (max-width: $maxwidth) {
  .col-full {
    margin-left: 2.618em;
    margin-right: 2.618em;
  }
}

@media screen and (max-width: 568px) {
  .col-full {
    margin-left: 1.387em;
    margin-right: 1.387em;
  }
}