/**
 * Main Naivgation
 */

/**
 * General Menu Styles
 */
.main-navigation {
	// clear: both;
}

.secondary-navigation {
	// display: none;
}

.site-header-cart {
	text-align: right;
}

.menu-toggle {
	cursor: pointer;
	margin: 1.618em auto;
	display: block;
	width: 100%;
	text-align: left;

	&:before {
		font-family: "FontAwesome";
		font-weight: 400;
		content: "\f0c9";
		margin-right: .53em;
	}
}

.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

.main-navigation ul,
.site-header-cart ul {
	display: none;
	margin-left: 0;
	list-style: none;

	ul {
		display: block;
		margin-left: 1.387em;
	}

	li {
		a {
			padding: .5em 1.387em;
			display: block;
			color: lighten($color_body, 10%);

			&:before {
				font-family: "FontAwesome";
				content: "\f0f6";
				margin-right: .53em;
				font-weight: 400;
			}

			&:hover {
				color: $color_links;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation,
	.secondary-navigation,
	.site-header-cart {
		
		// first level
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			display: block;

			li {
				position: relative;
				display: inline-block;
				text-align: left;

				a {
					display: block;

					&:before {
						display: none;
					}
				}

				// link hover
				&:hover {
					> a { }
					> ul { display: block; }
				}

			}

			// second level
			ul {
				display: none;
				float: left;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 99999;
				background-color: #ffffff;
				box-shadow: #787878 0 2px 4px;

				&:hover {
					> a {};
				}

				li {
					a {
						width: 200px;
						&:hover {};
					}
				}

				// third level
				ul {
					left: 100%;
					top: 0;
				}

			}
		}

	}

	ul.menu {
		li {
			&.current-menu-item {
				> a {
					color: $color_links;
				}
			}
		}
	}

	/**
	 * Primary Navigation
	 */
	.main-navigation,
	.site-header-cart {
		position: relative;

		ul.menu,
		ul.nav-menu {
			> li {
				// The first level menu item
				> a {
					padding: 1.618em 1em;
				}

				&:first-child {
					margin-left: -1em;
				}

				&.menu-item-has-children,
				&.page_item_has_children {
					&:hover {
						&:after {
							display: block;
						}
					}

					> a {
						&:after {
							// The dropdown indicator
							content: "\f107";
							font-family: "FontAwesome";
							margin-left: 1em;
							line-height: 1;
						}
					}
				}
			}

			ul {
				// Dropdowns
				background-color: #ffffff;
				margin-left: 0;

				li {
					// background-color: rgba(0,0,0,0.025);

					a {
						padding: .3em 1em;
					}

					&:last-child {
						border-bottom: 0;
					}

					&.menu-item-has-children,
					&.page_item_has_children {
						> a {
							&:after {
								// The dropdown indicator
								content: "\f105";
								font-family: "FontAwesome";
								float: right;
							}
						}
					}
				}

				ul {
					margin-left: 0;
					border-top-color: $color_border;
					box-shadow: none;
				}

				a:hover,
				li:hover > a {
					background-color: #f5f5f5;
				}
			}
		}

		a {
			padding: 0 1em 2.244em;
		}
	}

	/**
	 * Secondary Navigation
	 */
	.secondary-navigation {
		margin: 0 0 1.618em;
		width: auto;
		clear: none;
		line-height: 1;

		.menu {
			font-size: .857em;
			width: auto;
			float: right;

			> li:hover > a {
				text-decoration: none;
			}

			> li > a {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 1px;
					height: 25%;
					background-color: rgba(#000,0.05);
					position: absolute;
					top: 37.5%;
					left: 0;
				}
			}

			> li:first-child a:before {
				display: none;
			}

			ul {
				background-color: #2c2d33;

				a {
					padding: .326em .857em;
					background: rgba(#000,0.05);
				}

				li:first-child a {
					padding-top: 1em;
				}

				li:last-child a {
					padding-bottom: 1em;
				}

				ul {
					margin-top: -.618em;
				}
			}

			a {
				padding: 1.387em .857em;
				font-weight: 400;
				color: lighten( $color_body, 20% );

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}