/**
 * Typography
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=#4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=#4.1.0') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff?v=#4.1.0') format('woff'),
  url('../fonts/fontawesome-webfont.ttf?v=#4.1.0') format('truetype'),
  url('../fonts/fontawesome-webfont.svg?v=#4.1.0#fontawesomeregular') format('svg');
  //src: url('{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: .938em;
}

body,
button,
input,
select,
textarea {
  color: $color_body;
  font-family: $base-font;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  clear: both;
  font-weight: 400;
  margin: 0 0 .618em;
  color: $color_heading;
}

h1,
.alpha {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.214;
}

h2,
.beta {
  font-size: 1.4em;
  letter-spacing: -1px;
}

h3,
.gamma {
  font-size: 1.2em;
}

h4,
.delta {
  font-size: 1em;
}

hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin: 0 0 $vspacing;
}

p {
  margin: 0 0 $vspacing;
}

ul,
ol {
  margin: 0 0 $vspacing 3em;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $vspacing;
}

dt {
  font-family: $header-font;
}

dd {
  margin: 0 0 1.618em;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  padding: 0 $vspacing;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  font-style: italic;
}

address {
  margin: 0 0 $vspacing;
}

pre {
  background: #fff9c0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.618em;
  padding: 1.618em;
  overflow: auto;
  max-width: 100%;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: .202em .53em;
}

abbr,
acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
  padding: .202em .53em;
}

.badge {
  display: inline-block;
  background-color: $gray-dark;
  color: $gray-light;
  padding: 3px 7px;
  border-radius: 10px;
  font-size: 0.8em;
  line-height: 1;
  vertical-align: baseline;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 $vspacing;
  width: 100%;
}

th {
  font-weight: bold;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  display: block;
}

a {
  color: $color_links;
  text-decoration: none;
}

h1.site-title {
  font-family: $base-font;
}

.section-title {
  position: relative;
  z-index: 1;
  margin-bottom: 3em;
  &:before {
    border-top: 8px solid lighten($color_body, 40%);
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: $body-background;
    padding: 0 15px;
  }
}

.kode {
  font-family: $logo-font;
  color: $brand-primary;
}