// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 		"Muli", "Open Sans", Arial, sans-serif;
$header-font: 		"Oswald", Times, serif;
$logo-font: 		Telex, $base-font;

// base color scheme
$brand-primary:     #0064C2;
$gray-darkest:		#515151;
$gray-dark:			#787878;
$gray-medium:		lighten($gray-dark, 10%);
$gray-light:		darken(#ffffff, 20%);

$body-background: 	#ffffff;
$color_body: 		$gray-dark;
$color_heading: 	$gray-medium;
$color_links: 		darken($brand-primary, 10%);
$color_border:		rgba(0,0,0,0.1);
$error: 			#e2401c;
$success: 			#17ba6f;
$info: 				#3D9CD2;

// sizes and spacing
$vspacing: 			2em;
$maxwidth:			1170px;

$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after
);