/**
 * WooCommerce Photography
 */

@media screen and (min-width: 768px) {
	.woocommerce,
	.woocommerce-page {
		.photography-products {
			.tools {
				margin-bottom: 2.618em;
				background-color: rgba(0,0,0,0.025);
				padding: 1em 1em 1em 1.618em;
				border: 0;
			}
		}

		ul.products {
			li.product-type-photography {
				@include clearfix;
				@include span(6 of 12);
				text-align: left;

				.photography-image {
					@include span(3 of 6);
				}

				.photography-content {
					@include span(last 3 of 6);
					margin-left: 0;
				}

				.photography-sku {
					border-bottom: 1px dotted rgba(0,0,0,0.1);
				}

				.sku {
					font-weight: 700;
				}
			}
		}
	}
}