/**
 * WooCommerce Product Reviews Pro
 */

.woocommerce,
.woocommerce-page {
	#reviews {
		.product-rating {
			.product-rating-summary,
			.product-rating-details {
				display: block;
				width: 100%;
			}

			.product-rating-summary {
				text-align: left;
			}

			.product-rating-details {
				table {
					td {
						padding: .202em .53em;

						&.rating-graph {
							.bar {
								background-color: $color_body;
							}
						}

						&.rating-count {
							a {
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.form-contribution {
			border-color: $color_border;
			padding: 1em;

			#review_rating_field {
				label:first-of-type {
					display: block;
				}

				label {
					display: inline-block;

					&.checkbox:before {
						font-size: .857em;
					}
				}

				.star-label {
					float: none;
					margin-left: .618em;
				}
			}
		}

		.contribution-karma {
			margin-left: 0;
		}

		#comments {
			ol.commentlist {
				li {
					padding-top: 0;

					img.avatar {
						width: 2.618em;
						height: auto;
						margin: 0;
						float: right;
					}

					.description {
						padding-bottom: 0;
					}

					.comment-text {
						margin-left: 0;

						img,
						iframe {
							margin-bottom: 1.618em;
						}
					}

					h3.contribution-title {
						margin: 0;
						font-size: 1em;
					}

					.contribution-actions {

						a {
							color: $color_links;

							&.done {
								opacity: 0.5;
							}
						}
					}

					ul.children {
						li {
							margin-bottom: 1.618em;
						}
					}
				}
			}

			.form-contribution_comment {
				@include span(last 5 of 6);
				margin-bottom: 3.631em;
				padding-top: 1.618em;
			}

			ul.children + .form-contribution_comment {
				border-top: 0;
				padding-top: 0;
			}
		}

		.contribution-flag-form {
			background-color: rgba(0,0,0,0.1);
			padding: 1.618em;
			margin-bottom: 1.618em;
		}
	}

	.form-photo {
		#photo_attachment_file {
			color: inherit;
			margin: 1em 0;
		}
	}

	.contribution-type-selector {
		margin: 0;

		> a {
			display: inline-block;
			margin-right: 1em;
			padding: .53em 0;
			border-bottom: .202em solid rgba(0,0,0,0.05);

			&.active {
				border-bottom-color: $color_border;
			}
		}
	}

	.star-rating-selector:not(:checked) {
		label.checkbox {
			float: none;
		}
	}
}

#tiptip_content,
.chart-tooltip {
	font-size: .857em;
	padding: .618em 1em;
	background-color: rgba(0,0,0,0.8);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-bottom-color: rgba(0,0,0,0.8);
	margin-top: -6px;
}