/**
 * WooCommerce Smart Coupons
 */

.woocommerce,
.woocommerce-page {
	.coupon-container {
		margin: 0;
		box-shadow: none;

		&.medium {
			line-height: inherit;
			padding: .618em;
		}
	}

	.generated_coupon_summary {
		margin: 0;
	}

	.coupon-content {
		&.small {
			padding: .618em 1.387em;
		}

		.coupon-expire,
		.discount-info {
			font-family: inherit;
		}
	}

	#coupons_list {
		margin-bottom: 1.618em;
	}
}

.sd-buttons-transparent {
	&.woocommerce,
	&.woocommerce-page {
		.coupon-container {
			background: transparent !important;
			padding: 0;
		}
	}
}

@media screen and (min-width: 768px) {
	.sc_info_box {
		@include span(last 4 of 9);
		@include gutters(inside);
	}

	.page-template-template-fullwidth-php {
		.sc_info_box {
			@include span(last 5 of 12);
			margin-left: 0;
		}
	}
}
