/**
 * WooCommerce Wishlists
 */

#wl-wrapper.wl-button-wrap {
	padding: 1.618em 0 0 0;
}

.wl-add-link {
	padding-left: 0 !important;
	background: none !important;

	&:before {
		font-family: "FontAwesome";
		content: "\f004";
		margin-right: .53em;
		font-weight: 400;
	}
}

#wl-wrapper {
	.wl-tabs {
		border-bottom: 0 !important;

		> li {
			float: none !important;

			> a {
				padding: 1em 1.387em;
				border: 0 !important;
				margin: 0 !important;
				@include border-top-radius(0);
				background-color: transparent !important;
			}

			&.active {
				a {
					box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
				}
			}
		}
	}

	.wl-table {
		td {
			padding: .857em 1.387em !important;

			&:first-child {
				padding-left: 1.387em !important;
			}
		}

		&.manage {
			td {
				padding: .53em !important;
			}
		}
	}

	.wl-meta-share,
	.wl-share-url {
		border-bottom-color: $color_border;
	}
}

.wl-tab-wrap {
	ul.tabs,
	.panel {
		width: 100%;
		margin: 0;
	}

	ul.tabs {
		li {
			&:after {
				display: none !important;
			}
		}
	}
}

.button.wl-create-new {
	&:before {
		font-family: "FontAwesome";
		content: "\f067";
		margin-right: .53em;
		font-weight: 400;
	}
}

@media screen and (min-width: 768px) {
	#wl-wrapper {
		.wl-tabs {
			> li {
				a {
					padding-left: 0;
				}

				&.active {
					a {
						box-shadow: none;
					}

					&:after {
						content: "\f105";
						font-family: FontAwesome;
						display: block !important;
						position: absolute;
						top: 50%;
						height: 1em;
						width: 1em;
						line-height: 1;
						margin-top: -.5em;
					}
				}
			}
		}
	}
}